*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100px;
    background: #35424A;
    border-bottom-color: #E8491D;
    border-bottom-width: 8px;
    border-bottom-style: solid;
}
header ul{
    display: flex;
    flex-direction: row;
    margin-left: 840px;
    position: absolute;
    top: 40px;
}
header ul li{
    margin-left: 20px;
    padding-left: 30px;
    list-style-type: none;
}
header ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}
header h1{
    position: absolute;
    left: 100px;
    top: 20px;
    color: white;
}
header h1 span{
    color:  #E8491D;;

}
main{
    width: 100%;
    height: 500px;
    background: black;
}

.sec2{
    width: 100%;
    height: 100px;
    background: #35424A;
    color: white;
    display: flex;
    gap: 400px;
    padding-top: 30px;
}
.div_sec_2 input{
    width: 300px;
    height: 40px;
    padding-left: 20px;
    border: none;
    outline: none;
}
.div_sec_2 button{
    width: 150px;
    height: 40px;
    background-color: #E8491D;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.sec2 h1{
    padding-left: 20px;
}
.sec_3{
    width: 100%;
    height: 700px;
    background: white;
    position: relative;
}
.div_sec_3_1{
    width: 600px;
    height: 200px;
    position: absolute;
    top: 20px;
    left: 90px;
    padding: 20px;
}
.div_sec_3_2{
    width: 600px;
    height: 200px;
    background-color: #35424A;
    position: absolute;
    top: 250px;
    left: 90px;
    padding: 20px;
}