*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100px;
    background: #35424A;
    border-bottom-color: #E8491D;
    border-bottom-width: 8px;
    border-bottom-style: solid;
}
header ul{
    display: flex;
    flex-direction: row;
    margin-left: 840px;
    position: absolute;
    top: 40px;
}
header ul li{
    margin-left: 20px;
    padding-left: 30px;
    list-style-type: none;
}
header ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}
header h1{
    position: absolute;
    left: 100px;
    top: 20px;
    color: white;
}
header h1 span{
    color:  #E8491D;;

}
main{
    width: 100%;
    height: 500px;
    background: black;
}
.sec1{
    width: 100%;
    height: 400px;
    background-image: url(images/1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.div_sec_1{
    position: absolute;
    top: 150px;
    left: 250px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.div_sec_1 h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.div_sec_1 p{
    text-transform: uppercase;
}
.sec2{
    width: 100%;
    height: 100px;
    background: #35424A;
    color: white;
    display: flex;
    gap: 400px;
    padding-top: 30px;
}
.div_sec_2 input{
    width: 300px;
    height: 40px;
    padding-left: 20px;
    border: none;
    outline: none;
}
.div_sec_2 button{
    width: 150px;
    height: 40px;
    background-color: #E8491D;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.sec2 h1{
    padding-left: 20px;
}

/* Footer Start From Here */
.footer1{
    width: 100%;
    height: 1000px;
    background: #E8491D;
}
.fot_sec_1{
    width: 100%;
    height: 400px;
    background: white;
}
.main_div_1{
    width: 100%;
    height: 100%;
    /* background: black;
    color: whitesmoke; */
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.div_fot_1 img{
    width: 200px;
    height: 200px;
}
.div_fot_2 img{
    width: 200px;
    height: 200px;
}
.div_fot_3 img{
    width: 200px;
    height: 200px;
}
/* Section Two */
.fot_sec_2{
    width: 100%;
    height: 500px;
    background-image: url(./images/2.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}
.main_div_2{
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}
.div_fot_2_1 video{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.div_fot_2_2 video{
    width: 200px;
    height: 200px;
    border-radius: 20px;

}
.div_fot_2_3 video{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.p_last{
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
}